# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# vite / astro cache
.vite/
.cache/

# logs
npm-debug.log*
yarn-debug.log*w
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local
.env.development
.env.test

# system files
.DS_Store
Thumbs.db

# editor config folders
.idea/
.vscode/

# test & build artifacts
coverage/
*.tsbuildinfo

# Keep public/data for runtime
!public/data/
