---
import QuizLayout from "../layouts/QuizLayout.astro";
import CharacterList from "../components/CharacterList.astro";
import { generateQuizData, QuizFieldPresets } from "../utils/characterData";
import path from "path";

const { uniqueCharacters } = await generateQuizData({
  dataDir: path.join(
    process.cwd(),
    "data/extracted/with_release_en_without_version"
  ),
  outputFileName: "characters-random-en.json",
  fields: QuizFieldPresets.random,
  baseUrl: import.meta.env.BASE_URL,
});
---

<QuizLayout
  title="Kuis Karakter - Server EN - Random"
  subtitle="Random ini sob, jujur gatau mau nambahin apalagi"
  scriptSrc={`${import.meta.env.BASE_URL}/scripts/random_quiz.js`}
>
  <div slot="character-list">
    <CharacterList
      characters={uniqueCharacters}
      baseUrl={import.meta.env.BASE_URL}
    />
  </div>
</QuizLayout>
